doctype html
html
  head
    title Kill 4 fun
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/css/main.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css')
    meta(http-equiv='expires' content='0')
  body
    include navbar.pug
    
    .container
      .row
        include components/naslov.pug
        block dashboard
        block servers
        block 404
        block staff
        
    footer
      
    script(src='https://code.jquery.com/jquery-3.4.1.js')  
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    script(src='/assets/js/chosen.jquery.min.js')   
