nav.navbar.navbar-expand-sm.navbar-light.nav-gray
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarTogglerDemo03.collapse.navbar-collaps
  div.container
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/')
          | Dashboard
          span.fas.fa-hdd.icon 
      li.nav-item
        a.nav-link(href='/servers') Servers
          span.fas.fa-gamepad.icon 
      li.nav-item
        a.nav-link(href='/servers') Matches
          span.fas.fa-list.icon 
      li.nav-item
        a.nav-link(href='/players') Players
          span.fas.fa-users.icon 
      li.nav-item
        a.nav-link(href='/forum') Forum
          span.fas.fa-comments.icon   
      li.nav-item
        a.nav-link(href='/staff') Staff team
          span.fas.fa-user-tie.icon         
     
  .float-right
    ul.brands.brands-linija.brands-krug
      li
        a(href='')
          img.social-icons(src='assets/images/fb.png')
      li
        a(href='')
          img.social-icons(src='assets/images/yt.png')
      li
        a(href='')
          img.social-icons(src='assets/images/steam.png')