extends layout

block staff
    .col-md-12
        .card.push-top
            h5.card-header Staff members
            .card-body       
                ul.list-unstyled
                    li.media
                        img.mr-3.media-image(src='https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/3f/3f5dd4287ef8eeec9f66fe8a0c32f4f015f393bc_full.jpg')
                        .media-body
                            h5.mt-0.mb-1 Aleksandar 'NapsteR' Djuricin
                                .float-right
                                    a(href='https://www.facebook.com/aleksandarsalebre')
                                        span.fab.fa-facebook
                                    a(href='https://steamcommunity.com/id/napstersilud/')
                                        span.fab.fa-steam
                            h6 Owner
                    li.media.my-4
                        img.mr-3.media-image(src='https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8d/8d29546ef54a1d7f89bf2c001e0f92815d2095ab_full.jpg')
                        .media-body
                            h5.mt-0.mb-1 Izet 'kalle' Mulalic
                                .float-right
                                    a(href='https://www.github.com/kallefrombosnia')
                                        span.fab.fa-github
                                    a(href='https://www.facebook.com/wib.kalle')
                                        span.fab.fa-facebook
                                    a(href='https://steamcommunity.com/id/kallefrombosnia1337/')
                                        span.fab.fa-steam
                            h6 Developer                 